<b> Banco de dados Titanic: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls </b>

In [3]:
import pandas as pd
titanic_data = pd.read_excel('/Users/thayssilva/Documents/demo_presentation/titanic3.xls', 'titanic3', index_col=None, na_values=['NA'])

<b>Análise dos dados</b>

In [71]:
titanic_data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,S,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"

In [6]:
titanic_data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [7]:
titanic_data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

<b>Pré-processamento</b>

In [8]:
#Remove colunas com maior quantidade de nulos, remove linhas com dados nulos 
titanic_data = titanic_data.drop(['body','cabin','boat'], axis=1)
titanic_data["home.dest"] = titanic_data["home.dest"].fillna("NA")
titanic_data = titanic_data.dropna()

In [10]:
#Remove dados com alta correlação, informação posteriore, irrelevante para classificação
from sklearn import preprocessing
titanic_preprocesso= titanic_data.copy()
encoder= preprocessing.LabelEncoder()
titanic_preprocesso.sex = encoder.fit_transform(titanic_data.sex)
titanic_preprocesso = titanic_preprocesso.drop(['name','ticket','home.dest','fare','embarked'],axis=1)

In [14]:
Y_dados = titanic_preprocesso['survived'].values #classe (sobreviveu, morreu)
X_dados = titanic_preprocesso.drop(['survived'], axis=1).values #dados sem as classes

<b>Divisão dos dados entre teste e treinamento</b>

In [15]:
from sklearn import cross_validation
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X_dados,Y_dados,test_size=0.2)

<b>Classificação Árvore de decisão</b>

In [29]:
#Árvore de decisão com profundidade 4 
from sklearn import tree
arvore_decisao = tree.DecisionTreeClassifier(max_depth=4)
arvore_decisao.fit (X_train, y_train) #treinamento 
precisao = arvore_decisao.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.77

In [30]:
#Árvore de decisão com profundidade 5 
from sklearn import tree
arvore_decisao = tree.DecisionTreeClassifier(max_depth=5)
arvore_decisao.fit (X_train, y_train) #treinamento 
precisao = arvore_decisao.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.80

<b>Classificação Multilayer Perceptron - MLP</b>

In [49]:
#MLP com camadas escondidas = (5, 2)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(solver='lbfgs', alpha=1e-5,
                     hidden_layer_sizes=(5, 2), random_state=1, activation='logistic',  verbose=True)

mlp.fit (X_train, y_train) #treinamento 
precisao = mlp.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.80

In [48]:
#MLP com camadas escondidas = (15, 3)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(solver='lbfgs', alpha=1e-5,
                     hidden_layer_sizes=(15, 3), random_state=1, activation='logistic',  verbose=True)

mlp.fit (X_train, y_train) #treinamento 
precisao = mlp.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.83

<b>Classificação Vizinho mais proximo - KNN </b>

In [50]:
#KNN com K vizinhos = 3
from sklearn import neighbors
knn=neighbors.KNeighborsClassifier(3)
knn.fit (X_train, y_train) #treinamento 
precisao = knn.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.71

In [70]:
#KNN com K vizinhos = 11
from sklearn import neighbors
knn=neighbors.KNeighborsClassifier(11)
knn.fit (X_train, y_train) #treinamento 
precisao = knn.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.76